<article class="experience-page">
  <section class="job-entry">
    <div class="job-left-div">
      <div class="job-headers">
        <h2><a href="https://www.swampfoxinc.com">Swampfox Technologies, Inc.</a> (3 years) Columbia, SC</h2>
        <h6 class="spread-elems">
          <span>Senior Software Developer</span>
          <span>Jan 2024 – Present</span>
        </h6>
        <h6 class="spread-elems">
          <span>Software Developer</span>
          <span>May 2023 – Jan 2024</span>
        </h6>
        <h6 class="spread-elems">
          <span>Product Development Intern</span>
          <span>May 2022 – May 2023</span>
        </h6>
        <section class="job-responsibilities">
          <ul>
            <li>Developed and maintained telecom software that powers large enterprise company call centers</li>
            <li>Worked with other software developers, QA engineers and project managers on Scrum teams</li>
            <li>Served as technical lead/owner of mission critical software components for high-availability systems</li>
            <li>Met with project managers, engineers and stakeholders from other companies to understand their needs and develop custom systems to integrate with their proprietary infrastructure</li>
            <li>Triaged and debugged live issues with high-volume production call centers during emergencies</li>
            <li>Wrote documentation and automated tests to ensure project and code maintainability</li>
            <li>Served as a mentor and a technical resource for interns during their projects</li>
          </ul>
        </section>
      </div>
      <div class="job-picture-div">
        <img
          [ngSrc]="swampfoxLogoUrl" class="job-img"
          width = "300" height = "128" priority
          alt="The logo for Swampfox Technologies Inc."
          (click)="openWebsite('https://www.swampfoxinc.com')"
        />
      </div>
    </div>
  </section>
  <hr/>
  <section class="job-entry">
    <div class="job-left-div">
      <div class="job-headers">
        <h2><a href="https://mleg.cse.sc.edu/">University of South Carolina</a> (1.5 years) Columbia, SC</h2>
        <h6 class="spread-elems">
          <span>Undergraduate Research Assistant</span>
          <span>September 2019 – December 2020</span>
        </h6>
        <section class="job-responsibilities">
          <ul>
            <li>Analyzed scientific problems to apply artificial intelligence and deep learning models.</li>
            <li>Studied and implemented existing machine, deep learning, and evolutionary programming models within larger systems to solve novel problems. </li>
            <li>Rapidly learned new libraries and frameworks to implement them in more complex programs. </li>
            <li>Generated and analyzed charts and statistics to find flaws and improvements with models.</li>
            <li><a href="https://pubs.acs.org/doi/10.1021/acs.jpca.0c08103">Wrote and contributed to research articles</a> within the fields of Computer Science/Materials Design. </li>
            <li>Preprocessed raw data and transformed it into a format interpreted by machine learning models. </li>
            <li>Cooperated with a team of researchers and experts to further the field of Computational Materials Design.</li>
          </ul>
        </section>
      </div>
      <div class="job-picture-div">
        <img
          [ngSrc]="mlegLogoUrl" class="job-img"
          width = "300" height = "128" priority
          alt="The logo for Machine Learning Evolutionary Group"
          (click)="openWebsite('https://mleg.cse.sc.edu')" 
        />
      </div>
    </div>
  </section>
</article>