.experience-page {
  margin-top: 2em;
  margin-left: auto;
  margin-right: auto;
}

// Layout for wider screens (e.g. non-mobile)
@media (min-width: 506px) {
  .experience-page {
    width: 50%;
  }
}

// Layout for thinner screens (e.g. mobile)
@media (max-width: 506px) {
  .experience-page {
    width: 80%;
  }
}