// Light theme
$primary_light: #4e9ea8;
$primaryVariant_light: #2a6163;
$secondary_light: #5d9690;
$secondaryVariant_light: #4a9990;
$background_light: #f0f0f0;
$surface_light: #f0f0f0;
$error_light: #B00020;
$onPrimary_light: #f0f0f0;
$onSecondary_light: #272727;
$onBackground_light: #272727;
$onSurface_light: #272727;
$onError_light: #f0f0f0;

// Dark theme
$primary_dark: #3b8b94;
$primaryVariant_dark: #5ab3be;
$secondary_dark: #48a198;
$secondaryVariant_dark: #478882;
$background_dark: #121212;
$surface_dark: #121212;
$error_dark: #CF6679;
$onPrimary_dark: #f0f0f0;
$onSecondary_dark: #f0f0f0;
$onBackground_dark: #f0f0f0;
$onSurface_dark: #f0f0f0;
$onError_dark: #272727;

// mixin that enables css variables in light mode
@mixin lighten() {
  --primary: #{$primary_light};
  --primaryVariant: #{$primaryVariant_light};
  --secondary: #{$secondary_light};
  --secondaryVariant: #{$secondaryVariant_light};
  --background: #{$background_light};
  --surface: #{$surface_light};
  --error: #{$error_light};
  --onPrimary: #{$onPrimary_light};
  --onSecondary: #{$onSecondary_light};
  --onBackground: #{$onBackground_light};
  --onSurface: #{$onSurface_light};
  --onError: #{$onError_light};
}

// mixin that enables css variables in dark mode
@mixin darken() {
  --primary: #{$primary_dark};
  --primaryVariant: #{$primaryVariant_dark};
  --secondary: #{$secondary_dark};
  --secondaryVariant: #{$secondaryVariant_dark};
  --background: #{$background_dark};
  --surface: #{$surface_dark};
  --error: #{$error_dark};
  --onPrimary: #{$onPrimary_dark};
  --onSecondary: #{$onSecondary_dark};
  --onBackground: #{$onBackground_dark};
  --onSurface: #{$onSurface_dark};
  --onError: #{$onError_dark};
}