.nav-bar {
  position: sticky;
  top: 0;
  flex-wrap: nowrap;
  background-color: var(--onBackground);
  border-bottom: 0px;
  display: block;

  .nav-controls-container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
  }

  .container-fluid {
    padding: 0px;
  }

  #name-label {
    font-size: 22pt;
    margin-left: 0.5em;
    color: var(--background);
  }

  .navbar-toggler {
    fill: var(--background);
    color: var(--background);
    width: 43px;
    margin-left: auto;
  }

  .btn {
    border-radius: 0%;
    height: 43px;
  }

  .btn:hover {
    background-color: var(--secondary);
  }

  .contact-me-collapse {
    // border: 1px solid var(--secondary);

    svg {
      fill: inherit;
    }

    .btn-with-icon {
      color: var(--secondary);
      fill: var(--secondary);
    }

    .btn-with-icon:hover {
      color: var(--onSecondary);
      fill: var(--onSecondary);
    }
  }

  .btn-with-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    label {
      margin-right: 5px;
      cursor: pointer;
    }
    border: 0px;
  }
}


.nav-bar-list {
  display: flex;

  .btn {
    border: none;
  }

  .btn:not(.active) {
    color: var(--background);
  }

  .btn.active {
    color: var(--onPrimary);
    background-color: var(--primary);
  }

  .octicon-mark-github {
    fill: var(--background);
  }

  .linkedin-icon {
    fill: var(--background);
  }
}

// Layout for wider screens (e.g. non-mobile)
@media (min-width: 506px) {
  .nav-controls-container, .navbar-toggler, #name-label {
    display: none;
  }

  .navbar-collapse.collapse:not(.show) {
    display: block;
  }
}

// Layout for thinner screens (e.g. mobile)
@media (max-width: 506px) {
  .nav-bar-list {
    display: block;
  }
  .nav-item > .btn {
    width: 100%;
  }
}