.nav-bar {
  background-color: var(--primary);
  display: flex;

  .btn:not(.active) {
    color: var(--onPrimary);
  }

  .float-end-group {
    display: flex;
    flex-wrap: nowrap;

    button {
      display: flex;
      align-items: center;
      label {
        margin-right: 5px;
        cursor: pointer;
      }
      border: 0px;
    }
  }

  .octicon-mark-github {
    fill: var(--onPrimary);
  }
}

// Layout for wider screens (e.g. non-mobile)
@media (min-width: 506px) {
  .nav-bar {
    border-bottom: 0px;
    // justify-content: center;  
    .btn {
      height: 43px;
      border-bottom-left-radius: 0%;
      border-bottom-right-radius: 0%;
    }

    .float-end-group {
      margin-left: auto;
    }
  }
}