/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
@import "styles/_variables";

body.dark {
  @include darken();
}

body.light {
  @include lighten();
}

body {
  background-color: var(--background);
  color: var(--onBackground);
}

/* unvisited */
a:link {
  color: var(--secondaryVariant);
}

/* visited link */
a:visited {
  color: var(--secondary);
}

.footer {
  margin-top: 40px;
  margin-bottom: 40px;
  text-align: center;
  color: var(--onBackground);
}