.pfp-center-header {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: serif;
  margin-top: 20px;

  .pfp {
    border-radius: 100%;
  }
}

.home-page-body-text {
  margin-left: auto;
  margin-right: auto;
}

// Layout for wider screens (e.g. non-mobile)
@media (min-width: 506px) {
  .home-page-body-text {
    width: 50%;
  }

  .skills-list {
    columns: 2;
  }
}

// Layout for thinner screens (e.g. mobile)
@media (max-width: 506px) {
  .home-page-body-text {
    width: 80%;
  }

  .skills-list {
    columns: 1;
  }
}


.skills-list {

  li {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    gap: 1em;
    break-inside: avoid-column;
    // Prevents firefox from breaking text between columns
    overflow: hidden;
  }
}

.skill-icon {
  height: 2em;
  width: 2em;
  display: inline;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  fill: var(--onBackground);
}

.resume-button {
  background-color: var(--primary);
  color: var(--onPrimary);
}

.resume-link {
  color: var(--secondaryVariant);
  cursor: pointer;
  text-decoration: underline; 
}