<figure class="pfp-center-header">
  <h1>Chris Loftis</h1>
  <img
    [ngSrc]="pfpUrl" class="pfp"
    width = "300" height = "300" priority
    alt="An outdoor photograph of a young man with long black hair and glasses leaning against a brick wall, wearing a black shirt."
  />
</figure>

<article class="home-page-body-text">
  <p>Atque aliquid facilis voluptatem eum omnis. Dolor expedita natus vel dolor est quas. Magni incidunt iste quia cum dignissimos explicabo non assumenda. Qui quasi illo eaque quam alias velit quaerat corporis. Explicabo autem in voluptatum alias.</p>
  
  <p>Ea consequuntur rem saepe. Vero ex cumque quo quia. Et dolore magnam pariatur corporis rerum. Quaerat rerum vel repellat tenetur aut animi perferendis.</p>
  
  <p>Soluta et aut sed consequuntur sed. Deserunt voluptatem aperiam corporis distinctio qui laudantium eum. Ipsum qui adipisci est eaque. Numquam sed corrupti sed eum perspiciatis qui amet.</p>
  
  <p>Quia non iusto aliquid aut cumque reiciendis. Ipsa harum repellendus minima nihil incidunt similique. Vel eveniet cum praesentium debitis minus aut. Non omnis quia odio quod sunt reprehenderit consequatur. Iure corporis a id.</p>
  
  <p>Praesentium commodi accusamus aliquam. Libero et aliquid qui explicabo et beatae. Accusantium voluptatum natus ut nihil labore dolorem. Nam harum aut enim nemo. Quis nobis eos delectus enim rerum repellat asperiores. Recusandae earum accusamus ut alias saepe aperiam repellat.</p>
</article>