<figure class="pfp-center-header">
  <h1>Chris Loftis</h1>
  <img
    [ngSrc]="pfpUrl" class="pfp"
    width = "300" height = "300" priority
    alt="An outdoor photograph of a young man with long black hair and glasses leaning against a brick wall, wearing a black shirt."
  />
</figure>

<br/>

<article class="home-page-body-text">
  <section>
    <p>
      I am a Senior Software Developer looking for a development role.
      My primary experience is with backend systems, databases and Java middleware, but I am open to trying new things.
      Prior to my current job, I did not anticipate that I would ever write code in strange telephony XML dialects.
      After that, I'm open to trying pretty much anything.
    </p>
  </section>

  <section>
    <p>
      I have been writing Java professionally for three years and for personal projects for eleven. I strive to
      create software that is scaleable, maintainable, testable and documented. I enjoy working on cross-functional teams
      and I believe communication is key to shipping quality software.
    </p>
  </section>
  
  <section>
    <p>
      My ideal role is a position that allows me to meet with product owners/stakeholders to understand their needs,
      then work with a team to architect, design and implement a software solution. It puts me at a table with other engineers
      where we talk about the approach we want to take and how our components will integrate with one another. It enables me to
      learn from subject matter experts and my team members. It provides me with the resources to grow my domain understanding
      and my abilities as a software engineer.
    </p>
  </section>

  <section>
    <h4>Education</h4>
    <p>
      Bachelor of Science in Computer Science (B.S.C.S)
      With Honors from South Carolina Honors College
    </p>
    <p>
      I am a first generation college graduate. You can <a href="https://sc.edu/uofsc/posts/2022/11/first-gen-profiles.php#ChrisLoftis">read about it here.</a>
    </p>
  </section>

  <section>
    <h4>Skills and Technologies</h4>
    <ul class="skills-list">
      <li>
        <img [ngSrc]="javaIcon" class="skill-icon" width="50" height="50"/>
        Java
      </li>
      <li>
        <img [ngSrc]="junitIcon" class="skill-icon" width="50" height="50"/>
        JUnit5
      </li>
      <li>
        <img [ngSrc]="mockitoIcon" class="skill-icon" width="50" height="50"/>
        Mockito
      </li>
      <li>
        <img [ngSrc]="mavenIcon" class="skill-icon" width="50" height="50"/>
        Maven
      </li>
      <li>
        <img [ngSrc]="tomcatIcon" class="skill-icon" width="50" height="50"/>
        Apache Tomcat
      </li>
      <li>
        <img [ngSrc]="postgresIcon" class="skill-icon" width="50" height="50"/>
        Postgres
      </li>
      <li>
        <img [ngSrc]="sqlIcon" class="skill-icon" width="50" height="50"/>
        SQL Database Design
      </li>
      <li>
        <img [ngSrc]="jenkinsIcon" class="skill-icon" width="50" height="50"/>
        Jenkins
      </li>
      <li>
        <img [ngSrc]="rabbitmqIcon" class="skill-icon" width="50" height="50"/>
        RabbitMQ
      </li>
      <li>
        <img [ngSrc]="restapiIcon" class="skill-icon" width="50" height="50"/>
        REST APIs
      </li>
      <li>
        <img [ngSrc]="websocketIcon" class="skill-icon" width="50" height="50"/>
        Websockets
      </li>
      <li>
        <img [ngSrc]="linuxIcon" class="skill-icon" width="50" height="50"/>
        Linux
      </li>
      <li>
        <img [ngSrc]="cplusplusIcon" class="skill-icon" width="50" height="50"/>
        C++
      </li>
      <li>
        <img [ngSrc]="handshakeIcon" class="skill-icon" width="50" height="50"/>
        Job fairs & recruiting
      </li>
      <li>
        <img [ngSrc]="scrumIcon" class="skill-icon" width="50" height="50"/>
        Scrum/Agile team member
      </li>
      <li>
        <img [ngSrc]="jiraIcon" class="skill-icon" width="50" height="50"/>
        Jira
      </li>
      <li>
        <img [ngSrc]="smsIcon" class="skill-icon" width="50" height="50"/>
        SMS systems
      </li>
      <li>
        <img [ngSrc]="phoneIcon" class="skill-icon" width="50" height="50"/>
        Avaya telephony
      </li>
    </ul>
  </section>

  <section>
    <h4>Contact</h4>
    <p>
      You can contact me via email at <a href="mailto:chris@chriswantsajob.com">chris&#64;chriswantsajob.com</a> or message me on <a [href]="linkedInURL">LinkedIn</a>.
    </p>
    <p>
      You can <a class="resume-link" (click)="downloadResume()">download my resume here</a>.
    </p>
  </section>

  <footer class="footer">
    Copyright © 2025 Chris Loftis
  </footer>
</article>